.footer_content {
    text-align: center;
    margin: 30px 0px;

    .logo_text {
        margin: 0;
        font-size: 25px;
    }

    .footer_phone {
        margin-top: 13px;

        .call {
            margin: 0;
            font-size: 13px;
            font-weight: 500;
        }

        .phone_number {
            text-decoration: none;

            p {
                font-size: 30px;
                margin: 0;
                color: black;
                &:hover {
                    color: rgb(195, 185, 185);
                    transition: all 0.4s ease-in-out
                }
            }
        }


        p {
            margin: 0;
        }
    }
}